.final__page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-3-half-x);
    gap: var(--spacing-5-quarter-x);
    text-align: center;
    margin-top: var(--spacing-2-x);
    line-height: var(--line-height-s);
}

.final__desc {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-5-quarter-x);
}

.subscribe-btn-container {
    width: 100%;
}

.subscribe-btn {
    cursor: pointer;
    width: 48%;
    height: var(--spacing-3-x);
    background: transparent url('/src/assets/CTA_INSCREVER.png') no-repeat;
    background-position: center;
    background-size: contain;
    border-color: transparent;
    border-radius: 50px;
}

.subscribe-btn:hover {
    transform: scale(1.1);
}

@media screen and (width >= 768px) {
    .subscribe-btn {
        width: 24%;
    }
}

@media screen and (width >= 1024px) {

    .final__desc {
        font-size: var(--font-size-m);
    }

    .subscribe-btn {
        width: 14%;
    }
}