.first__page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-3-half-x);
    gap: var(--spacing-5-quarter-x);
    text-align: center;
    margin-top: var(--spacing-2-x);
    line-height: var(--line-height-s);
}

.page-subtitle {
    font-size: var(--font-size-l);
    font-weight: 600;
}

.first__desc {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-5-quarter-x);
}

.start-btn {
    cursor: pointer;
    width: 48%;
    height: var(--spacing-3-x);
    background: transparent url('/src/assets/CTA_COMECAR.png') no-repeat;
    background-position: center;
    background-size: contain;
    border-color: transparent;
    border-radius: 50px;
}

.start-btn:hover {
    transform: scale(1.1);
}

@media screen and (width >= 768px) {
    .start-btn {
        width: 24%;
    }
}

@media screen and (width >= 1024px) {
    .first__page {
        gap: var(--spacing-2-x);
        margin-top: var(--spacing-3-x);
    }

    .page-subtitle {
        font-size: var(--font-size-xl);
    }

    .first__desc {
        font-size: var(--font-size-m);
    }

    .start-btn {
        width: 16%;
    }
}