.footer-container {
    text-align: center;
    background-color: var(--second-blue);
    padding: var(--spacing-half-x);
    margin-top: var(--spacing-5-quarter-x);
}

.footer__logo {
    width: 64px;
    height: 24px;
}