.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: var(--spacing-half-x);
    background-color: var(--second-blue);
    color: var(--white);
    gap: var(--spacing-quarter-3-x);
}

.header__logo {
    width: 64px;
    height: 24px;
}

.page-title {
    font-size: var(--font-size-xxs);
    font-weight: 500;
}

@media screen and (width <= 400px) {
    .page-title {
        font-size: 1rem;
    }
}

@media screen and (width >= 1024px) {
    .header-container {
        justify-content: center;
        gap: 7.2rem;
    }

    .page-title {
        font-size: var(--font-size-xs);
    }
}