.video-question__page {
    text-align: center;
    margin-top: var(--spacing-2-x);
}

.video__tag,
.question__tag {
    margin: var(--spacing-half-x) var(--none);
}

.video__tag,
.question__tag,
.answer__tag,
.feedback {
    font-size: var(--font-size-xxs);
    line-height: var(--line-height-s);
}

.question-container {
    font-size: var(--font-size-l);
    margin: var(--none) var(--spacing-quarter-x);
    line-height: var(--line-height-m);
    font-weight: 600;
}

.iframe-container {
    padding: 56.25% 0 0 0;
    position: relative;
}

.iframe-container iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.answers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-quarter-3-x);
    margin: var(--spacing-5-quarter-x);
}

.btns-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-quarter-3-x);
    background-color: var(--light-blue);
    padding: var(--spacing-5-quarter-x);
    border-radius: 14px;
    width: 100%;
    box-shadow: var(--focus);
}

.btn__answer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    gap: var(--spacing-quarter-x);
    align-items: center;
    text-align: left;
    font-size: var(--font-size-xs);
    line-height: var(--line-height-s);
    border: 3px solid var(--second-black);
    border-radius: 24px;
    background-color: transparent;
    color: var(--black);
    margin: var(--spacing-half-x) var(--none);
    padding: var(--spacing-half-x) var(--spacing-quarter-3-x);
    cursor: pointer;
}

.btn__answer img {
    width: 32px;
    height: 32px;
}

.btn__answer:not(:disabled):hover {
    border-color: var(--yellow);
}

.btn__answer:disabled {
    color: var(--black);
}

.btn__answer.correct {
    border-color: var(--success);
}

.btn__answer.incorrect {
    border-color: var(--warning);
}

.next-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--spacing-quarter-3-x) var(--none);
}

.next-btn {
    cursor: pointer;
    width: 48%;
    height: var(--spacing-3-x);
    background: transparent url('/src/assets/CTA_SEGUIR.png') no-repeat;
    background-position: center;
    background-size: contain;
    border-color: transparent;
    border-radius: 50px;
}

.next-btn:hover {
    transform: scale(1.1);
}

@media screen and (width >=768px) {

    .video__tag,
    .question__tag,
    .answer__tag,
    .feedback,
    .btn__answer {
        font-size: var(--font-size-xxs);
    }

    .next-btn {
        width: 24%;
    }

    .iframe-container {
        padding: 52% 0 0 0;
    }

}

@media screen and (width >=1024px) {

    .video__tag,
    .question-container,
    .question__tag {
        margin: var(--spacing-half-x) var(--none);
    }

    .video__tag,
    .question__tag,
    .answer__tag,
    .feedback,
    .btn__answer {
        font-size: var(--font-size-xs);
    }

    .question-container {
        font-size: var(--font-size-xl);
    }

    .iframe-container {
        padding: 32% 0 0 0;
    }

    .answers-container {
        margin: 3.2rem 22.4rem;
    }

    .next-btn {
        width: 16%;
    }
}